@import 'styles';

.root {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 0 20px;

    .rightContent {
      margin-top: 27px;
      padding-left: 30px;
    }

    @media (max-width: $bp-mobile) {
      .rightContent {
        padding: 0;
      }
    }
  }
}
