@import 'styles';

.assistantOnboarding {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;

  .onboardingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;

    @keyframes moveIn {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }

    .explanations {
      position: relative;
      width: 1200px;
      min-height: 610px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
      padding: 40px;
      font-family: Lato;
      color: $grayColor;
      margin: 0 auto;
      margin-top: 140px;
      animation: moveIn 0.5s ease-in-out;

      h1 {
        width: 100%;
        font-size: 50px;
        font-weight: normal;
        font-style: italic;
        text-align: center;
        color: $secondaryColor;
      }
      h3 {
        width: 100%;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        padding-top: 30px;
      }

      .screens {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        .item {
          width: 346px;
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          .content {
            display: flex;
            padding-top: 22px;

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              background-color: $secondaryColor;
              border-radius: 50%;

              svg {
                fill: white;
              }
            }
            p {
              flex: 1;
              padding-left: 20px;
              font-size: 16px;
              font-weight: normal;
              line-height: 1.5;
              text-align: left;
            }
          }
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;

        .btn {
          flex: 1;
          height: 60px;
          border: solid 2px $secondaryLightColor;
          font-size: 24px;
          font-weight: bold;
          color: $secondaryLightColor;

          &.primary {
            background-color: $secondaryLightColor;
            color: white;
            margin-left: 40px;
          }
        }
      }

      .close {
        position: absolute;
        top: 40px;
        right: 40px;
        fill: $grayColor;
        cursor: pointer;
      }
    }

    .stepActions {
      position: fixed;
      bottom: 40px;
      width: 100%;
      margin: 0 auto;

      .container {
        width: 640px;
        margin: 0 auto;

        .dots {
          display: flex;
          justify-content: center;

          .dot {
            width: 20px;
            height: 20px;
            margin: 10px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;

            &.active {
              background-color: $secondaryLightColor;
            }
          }
        }
        .actions {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-top: 30px;

          .btn {
            flex: 1;
            height: 60px;
            border: solid 2px $secondaryLightColor;
            font-size: 24px;
            font-weight: bold;
            color: $secondaryLightColor;
            background-color: transparent;

            &.primary {
              background-color: $secondaryLightColor;
              color: white;
              margin-left: 40px;
            }
          }
        }
      }
    }
  }
}
