@import 'styles';

:global {
  .ant-collapse {
    .ant-collapse-header {
      background: white;
      color: $secondaryLightColor !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      height: 50px;
      border: 1px solid $lightGrayColor;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
      border-radius: 0;

      svg {
        color: $secondaryColor;
        path {
          stroke: $secondaryColor;
        }
      }
    }
    .ant-collapse-item-active {
      border-bottom: 1px solid $lightGrayColor !important;
      .ant-collapse-header {
        padding-left: 0 !important;
        background: white;
        color: $primaryColor !important;
        border: none;
        box-shadow: none;
      }
    }
    .ant-collapse-item-active .ant-collapse-arrow {
      transform: rotate(180deg) !important;

      svg {
        path {
          stroke: $secondaryColor !important;
        }
      }
    }
  }
}

.root {
  width: 100%;
  border: none !important;
  margin-bottom: 20px !important;
}
