@import 'styles';

.root {
  width: 100%;
  height: 100%;
  .detailHeader {
    margin-bottom: 50px;

    @media (max-width: $bp-mobile) {
      justify-content: center;
      padding: 20px;
    }
  }
  .collapse {
    margin: 10px 0;
  }

  .topSpace{
    margin-top: 50px;
  }

  .tabPane {
    .title {
      font-family: Lato;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.21;
      text-align: left;
      color: #7b7c7e;
      margin-bottom: 26px;
    }
    .googleMapContainer {
      .googleMap {
        height: 320px;
      }
    }
  }
}
.amenities {
  padding: 0 20px;
  .amenitiesWrapper {
    font-size: 24px;
    color: #013398;
  }
}

.rootDiv {
  width: 100%;
  border: 1px solid $borderGrayColor;
  line-height: 1;

  .banner {
    width: 100%;
    height: 258px;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .content {
    padding: 30px;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;

    > div {
      font-size: 16px;

      > span {
        font-size: 20px;
        font-weight: bold;
        color: $primaryColor;
        margin-left: 0px;
      }
    }
    .contentheader{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 20px;

      .leftcontent{
       flex: 1;

        .headertitle{
          font-family: Lato;
          font-size: 24px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: normal;
          text-align: left;
          color: #7b7c7e;
        }
      }

      .rightcontent{
        margin-right: 30px;
      }
    }
  
    .textSize{
      font-size: 15px;
    }

    .targetIcon{
      height:18px;
      width:20px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: right;
    }

    .starIconImg {
      height: 0px;
      width: 0px;
      margin-right: 35px;
      margin-bottom: 33px;
      object-fit: cover;
  
      > svg {
        height: 16px;
        width: 16px;
        margin-left:10px;
        margin-top: 8px;
        fill: #ffffff;
      }
    }

    .bagIconImg {
      height: 25px;
      width: 2px;
      margin-right: 10px;
      object-fit: cover;
  
      svg {
        fill: #ffffff;
      }
    }

    .textAlign{
     text-align: left;
    }

    .icon {
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      top: 20px;
      font-size: 18px;
      color: white;
      background-color: $primaryColor;

      > svg {
        width: 16px;
        height: 16px;
      }
    }

    .description {
      font-size: 14px;
      font-weight: bold;
      color: #7b7c7e;
    }
    .row {
      padding: 10px 0;
      width: 160px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  .rootDiv {
    max-width: unset;

    .content {
      padding: 20px 10px 0 10px;
    }

    .right {
      margin-left: 0px;
    }

    .icon
    {
      margin-left: 0px;
    }
  }
}
