@import 'styles';

.root {
  width: 100%;
  display: flex;
  border-bottom: 4px solid $borderGrayColor;

  &.thin {
    border-bottom-width: 2px;
  }

  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-height: 40px;
    padding: 15px 20px;
    margin-bottom: -4px;

    &.stretch {
      flex: 1;
    }

    &.custom {
      padding: 15px 0 0;
    }

    &.active {
      color: $primaryColor;
      border-bottom: 4px solid $primaryColor;

      &.thin {
        margin-bottom: -2px;
        border-bottom-width: 2px;
      }
    }

    .label {
      font-size: 14px;
      font-weight: bold;

      &.uppercase {
        text-transform: uppercase;
      }
    }
    .icon {
      font-size: 24px;
      margin-bottom: 20px;
      svg {
        width: 25px;
        height: 25px;
        fill: rgb(123, 124, 126);
        color: #ffffff;
      }
    }
    .selectedIcon {
      font-size: 24px;
      margin-bottom: 20px;
      svg {
        width: 25px;
        height: 25px;
        fill: #003398;
      }
    }
  }
}
