@import 'styles';

.root {
  background-color: $bgLightGrayColor;
  padding: 0 40px;

  .container {
    min-height: 110px;
    display: flex;
    align-items: center;

    .logo {
      color: $grayColor;
      font-size: 36px;
      font-family: Lato;
      font-weight: 300;
      display: flex;

      .icon {
        height: 60px;
        width: 60px;
        background-color: $secondaryLightColor;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        svg {
          fill: white;
        }
      }
    }
    .modes {
      display: flex;
      justify-content: center;

      .btn {
        height: 42px;
        background-color: $lightGrayColor;
        color: white;
        border: none;
        font-size: 15px;
        font-weight: bold;

        i {
          padding-right: 5px;
        }

        &.btnInactive {
          border-radius: 20px 0 0 20px;
        }
        &.btnActive {
          border-radius: 0 20px 20px 0;
        }
        &.active {
          background-color: $grayColor;
        }
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;

      .btn {
        height: 42px;
        color: $secondaryColor;
        font-size: 16px;
        font-weight: bold;
        font-family: Lato;
        margin-left: 20px;
        border: 2px solid $secondaryColor;
        border-radius: 3px;

        &.primary {
          background-color: $secondaryColor;
          color: white;
        }
        &.disabled {
          color: white;
          border-color: $lightGrayColor;
          background-color: $lightGrayColor;
        }
      }
    }
  }
}
