@import 'styles';

:global(::selection) {
  background: $primaryColor;
}

.root {
  position: relative;
  width: 100%;

  :global(.ant-select) {
    width: 100%;
  }
  :global(.ant-select-arrow) {
    //display: none;
  }
  :global(.ant-select),
  :global(.ant-select-selector) {
    height: 36px !important;

    input {
      height: 36px;
    }
  }
  :global(.ant-select-selection-item) {
    line-height: 36px !important;
  }
  :global(.ant-select.ant-select-focused .ant-select-selector) {
    border-color: $primaryColor;
    box-shadow: $primaryFocusBoxShadow;
  }
  :global(.ant-select:not(.ant-select-disabled):hover .ant-select-selector) {
    border-color: $primaryColor;
  }
  :global(.ant-select-item-option-active) {
    background-color: $primaryLightColor !important;
  }
  .suffix {
    position: absolute;
    right: 10px;
    top: 5px;
    color: $primaryColor;
  }
  .arrowDown {
    @extend .suffix;
    top: 15px;
    path {
      stroke: $primaryColor;
    }
  }
  .arrowDownin {
    @extend .suffix;
    path {
      stroke: $primaryColor;
    }
  }
}

.tag {
  position: relative;

  > div {
    margin-bottom: 5px;
    > span {
      padding-right: 20px;
    }
  }

  > svg {
    cursor: pointer;
    fill: $primaryColor;
    position: absolute;
    right: 13px;
    top: 6px;
  }
}
