@import "styles";

.root {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 260px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    :global .item-content {
      .ant-form-item {
        .ant-form-item-control {
          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              .ant-input-number {
                width: 35% !important;
              }
            }
          }
        }
      }
    }

    :global(.ant-input-number-input-wrap) {
      padding: 4px 11px 4px 0;
    }

    .header {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: bold;
      position: relative;
      margin-bottom: 10px;
      color: #7b7c7e;

      .valueNumber {
        display: none;

      }
      @media screen and (max-width: 767px) {
        .valueNumber {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 0;
          span {
            font-size: 20px;
            font-weight: bold;
            color: #003398;
            line-height: 18px;
          }
          h6 {
            font-size: 14px;
            color: #7b7c7e;
            font-weight: normal;
            margin: 0;
          }
        }
      }
    }

    .roomCount {
      display: flex;
      flex-direction: column;
      > span {
        display: block;
        text-align: right;

        &.value {
          color: $primaryColor;
          font-size: 20px;
          font-weight: bold;
        }
        &.text {
          font-size: 14px;
        }
      }
    }

    .filterCustomCollapse {
      .filterCustomCheckbox {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-bottom: 5px;
        :global(.ant-checkbox) {
          width: 24px;
          height: 24px;
          :global(.ant-checkbox-inner) {
            height: 100%;
            width: 100%;
            &:after {
              width: 7px;
              height: 14px;
            }
          }
        }
        .filterCheckboxLabel {
          display: flex;
          justify-content: space-between;
          width: 200px;
          .count {
            color: #a0a0a0;
          }
        }
      }
    }
  }
  .inputDivider {
    width: 12%;
    padding: 0 10px;
    display: flex;
    align-items: center;

    span {
      height: 2px;
      flex: 1;
      background: $primaryColor;
    }
  }
  .starRating {
    width: 100%;
  }
}
