@import "styles";

.root {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 260px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    :global .item-content {
      .ant-form-item {
        .ant-form-item-control {
          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              .ant-input-number {
                width: 35% !important;
              }
            }
          }
        }
      }
    }
   
    :global(.ant-input-number-input-wrap) {
      padding: 4px 11px 4px 0;
    }

    .header {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: bold;
      position: relative;
      margin-bottom: 10px;
      color: #7b7c7e;

      .valueNumber {
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translateX(-50%);
        float: right;
        right: 0;
        span {
          font-size: 20px;
          font-weight: bold;
          color: #003398;
          line-height: 18px;
        }
        h6 {
          font-size: 14px;
          color: #7b7c7e;
          font-weight: normal;
          margin: 0;
        }

      }
    }
    
    .roomCount {
      display: flex;
      flex-direction: column;
      > span {
        display: block;
        text-align: right;

        &.value {
          color: $primaryColor;
          font-size: 20px;
          font-weight: bold;
        }
        &.text {
          font-size: 14px;
        }
      }
    }
  }
  .inputDivider {
    width: 12%;
    padding: 0 10px;
    display: flex;
    align-items: center;

    span {
      height: 2px;
      flex: 1;
      background: $primaryColor;
    }
  }

  .spacingLeft
  {
    margin-left: 6px;
  }
  .starRating {
    width: 100%;
  }
  .radio {
    width: 100%;
    display: flex;

    :global(.ant-radio-button-wrapper) {
      // width: 14.28%;
      width: 100% !important;
      display: flex;
      justify-content: center;
      color: #003398 !important;
      font-weight: bold;
      background-color: #C6D7ED !important;

      &:hover {
        color: $grayColor;
      }
    }
  
    :global(.ant-radio-button-wrapper-checked) {
      background-color: $primaryColor !important;
      border-color: $primaryColor !important;
      color: white !important;
    }
  }

}
