@import 'styles';

.root {
  display: table !important;
  width: auto !important;
  border-radius: 8px;
  overflow: hidden;

  &.minus {
    button,
    input {
      border-color: #7b7c7e;
    }
    .leftButton {
      background-color: #7b7c7e;
      &:hover {
        background-color: #7b7c7e;
        border-color: #7b7c7e;
      }
    }
    .rightButton {
      border-color: $primaryColor;
    }
  }

  &.plus {
    button,
    input {
      border-color: #7b7c7e;
    }
    .leftButton {
      border-color: $primaryColor;
    }
    .rightButton {
      background-color: #7b7c7e;
      &:hover {
        background-color: #7b7c7e;
        border-color: #7b7c7e;
      }
    }
    input {
      border-left-color: $primaryColor;
    }
  }

  button {
    width: 35px;
    height: 34px;
    padding: 2px !important;
    background-color: $primaryColor;
    border: 2px solid $primaryColor;

    &:hover {
      background-color: $primaryHoverColor;
      border-color: $primaryHoverColor;
    }
    &:focus {
      background-color: $primaryColor;
      border-color: $primaryHoverColor;
    }
  }
  input {
    width: 50px !important;
    text-align: center !important;
    color: $primaryColor;
    font-weight: bold;
    border: 2px solid $primaryColor;
  }
}
