@import "styles";

.gridContainer {
  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
    grid-gap: 30px;
    justify-content: center;
    @media screen and (max-width: 375px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 360px));
      grid-gap: 30px;
    }
    .column {
      //max-width: 360px;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .buttonWrap {
    margin-top: 40px;
    justify-content: center;
    .btn {
      font-size: 16px;
      font-weight: bold;
      background-color: #003398;
      color: white;
      border: none;
      padding: 10px 30px;
      border-radius: 3px;
      cursor: pointer;
      line-height: 16px;
      width: 200px;
      max-width: 200px;
    }
  }
  .pagination {
    margin: 57px 0 17px 0;
  }
}

.resultItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px $borderGrayColor;
  .mainImage {
    flex-shrink: 0;
    overflow: hidden;
    height: 260px;
    width: 100%;
    background-size: cover;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (max-width: 467px) {
      height: auto;
      max-height: 260px;
    }
  }
  img{
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .right {
    position: relative;
    flex-grow: 1;
    height: 100%;
    .circle {
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: $primaryColor;
      border-radius: 50%;
      display: inline-block;
      border: 2px solid white;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width:992px) {
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
      > svg {
        position: relative;
        left: 8px;
        top: 12.5px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 30px;
      overflow: hidden;
      @media screen and (max-width:767px) {
        padding: 16px;
        margin-top: 15px;
      }
      .line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
        margin-bottom: 20px;
        span {
          text-align: center;
        }
        @media screen and (max-width:767px) {
          flex-direction: column;
          h3 {
            font-size: 18px !important;
            text-align: center;
            font-weight: bold !important;
            color: #7b7c7e;

          }
        }

        &:not(:first-child) {
          margin-top: 20px;
        }
        .itemName {
          font-weight: 300;
          font-size: 24px;
          h3 {
            margin-bottom: 0;
          }
        }
        .description {
          font-size: 14px;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 44px;
        }
      }

      .rating {
        width: 180px;
        @media screen and (max-width: 567px){
          width: 137px;
        }
      }
      .rateInfo {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 767px){
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          display: flex;
          flex-wrap: wrap;
          .flex-vertical-center,  .itemRate {
            font-size: 16px !important;
            color: $primaryColor !important;
          }
          span{
            color: #003398;
          }
        }
        .itemRate {
          margin-left: 8px;
          color: $primaryColor;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
