@import "styles";

.gridContainer {
  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
    grid-gap: 30px;
    justify-content: center;
    @media screen and (max-width: 375px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 360px));
      grid-gap: 30px;
    }
    .column {
      //max-width: 360px;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .buttonWrap {
    margin-top: 40px;
    justify-content: center;
    .btn {
      font-size: 16px;
      font-weight: bold;
      background-color: #003398;
      color: white;
      border: none;
      padding: 10px 30px;
      border-radius: 3px;
      cursor: pointer;
      line-height: 16px;
      width: 200px;
      max-width: 200px;
    }
  }
  .pagination {
    margin: 57px 0 17px 0;
  }
}
