@import 'styles';

.productItem {
  width: 100%;
  min-height: 185px;
  display: flex;
  border: 1px solid $borderGrayColor;
  margin: 10px 0;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);

  .image {
    flex: 1;
    background-color: $lightGrayColor;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 185px;
    }

    .icon {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: solid 2px white;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        fill: $grayColor;
      }
    }
  }

  .content {
    flex: 1;
    background-color: white;
    .initContent {
      padding: 20px;
      color: $grayColor;
      .title {
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
      }
      .description {
        font-family: Lato;
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
      }
      .btn {
        width: 100%;
        height: 50px;
        border: 2px solid #49838f;
        color: #49838f;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        i {
          margin-right: 10px;
        }
        &:hover {
          border: 2px solid #1da5a8;
          color: #1da5a8;
        }
      }
    }

    .editContent {
      display: flex;
      height: 100%;
      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 20px;

        :global {
          .ant-switch {
            width: 60px;
            height: 30px;

            &.ant-switch-checked {
              background-color: $secondaryColor;

              .ant-switch-handle {
                top: 3px;
                left: calc(100% - 24px - 4px);
                &::before {
                  color: $secondaryColor;
                }
              }
            }

            .ant-switch-handle {
              width: 24px;
              height: 24px;
              &::before {
                border-radius: 50%;
              }
            }
          }
        }

        .input {
          width: 100%;
          display: flex;
          align-items: center;
          input {
            width: 100%;
            height: 30px;
            font-size: 20px;
            font-weight: normal;
            outline: none;
            box-shadow: none !important;
            border: none;
            color: $grayColor;

            &::placeholder {
              font-style: italic;
              font-family: Arial;
              font-size: 20px;
              color: #c8c8c8;
            }
          }

          h3 {
            font-size: 24px;
            color: $grayColor;
          }

          .price {
            flex: 1;
            font-size: 20px;
            padding-left: 10px;
            color: $grayColor;
          }
          .desc {
            font-size: 16px;
            padding-left: 10px;
            color: $grayColor;
          }

          .suffix {
            font-family: Arial;
            font-size: 14px;
            font-style: italic;
            color: #c8c8c8;
          }
          .prefix {
            font-family: Lato;
            font-size: 20px;
            font-weight: bold;
            color: $secondaryColor;
          }
          .arrow {
            svg {
              path {
                stroke: $secondaryColor;
              }
            }
          }

          &.user {
            padding-left: 20px;
          }
        }
        .actions {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          svg {
            cursor: pointer;
            path {
              fill: $secondaryColor;
            }
          }

          .btn {
            width: 40px;
            height: 24px;
            padding: 0;
            margin: 0;
            border: 0;
            border-radius: 3px;
            background-color: rgba($secondaryLightColor, 0.2);
            color: $secondaryColor;
            margin-left: 16px;
            font-size: 14px;
          }
        }
      }
      .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 100%;
        background-color: rgba(61, 194, 204, 0.2);
        cursor: pointer;

        svg {
          fill: $secondaryColor;
        }
      }
    }
  }

  &.onboarding {
    .image,
    .content {
      z-index: 11;
      box-shadow: 0 0 20px 0 white;
    }

    .content {
      .btn {
        box-shadow: 0 0 20px 0 $secondaryLightColor;
      }
    }
  }
}
