@import 'styles';

.collapsedHeader {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    width: 45%;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    color: $secondaryLightColor;
  }
  .amount {
    display: flex;
    justify-content: center;
    flex: 1;
    .val {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      border: solid 2px rgba($secondaryLightColor, 0.3);
      background-color: rgba(61, 194, 204, 0.3);
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: $secondaryColor;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    width: 40%;

    .item {
      display: flex;
      align-items: center;
      padding-right: 20px;

      svg {
        fill: $secondaryColor;
        path {
          fill: $secondaryColor;
          stroke: none;
        }
      }
    }
  }
}
