@import 'styles';

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  height: 80px;
  margin-bottom: 30px;
  @media screen and (max-width: 991px) {
    overflow-x: auto;
    width: 100%;
  }
  .searchType {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: 1px solid #dedede;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #7b7c7e;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    padding: 10px 6px;
    text-align: center;
    cursor: pointer;
    @media screen and (max-width: 991px) {
      min-width: 130px;
    }
    .icon {
      svg {
        width: 25px;
        height: 25px;
        fill: rgb(123, 124, 126);
        color: #ffffff;
      }
    }
    .selectedIcon {
      svg {
        width: 25px;
        height: 25px;
        fill: #ffffff;
      }
    }
  }
  .selectedSearchType {
    color: #ffffff;
    background-color: #003398;
  }
}
